<body>

  <div id="banner_image" class="carousel slide" data-bs-ride="carousel">
      <!-- Add the arrows -->
      <a class="carousel-control-prev" href="#banner_image" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#banner_image" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>




  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://drive.google.com/uc?export=view&id=1vRwv6R9dJkV0a0Z_C76ofUhU5tCstfpC" alt="Slide 1" class="d-block w-100">
      <div class="carousel-caption">
      </div>
    </div>

    <div class="carousel-item">
      <img src="https://drive.google.com/uc?export=view&id=1f9yCuG4uU-0TV-qlUsaa1laygUUwWUWH" alt="Slide 2" class="d-block w-100">
      <div class="carousel-caption">
      </div>
    </div>

    <div class="carousel-item">
      <img src="https://drive.google.com/uc?export=view&id=1y_guSltQjGdsCeqq2rbIjO90uuMcbWDu" alt="Slide 2" class="d-block w-100">
      <div class="carousel-caption">
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="banner_content text-center">
    <h1>Your Health, Simplified</h1>
    <p> Our platform is designed to cater to all your pharmaceutical needs, making the process of ordering medicines online hassle-free and convenient. Rest assured, we only connect you with registered retail pharmacies and certified diagnostic labs, guaranteeing the highest quality and authenticity of the products and services. Our mission is to make healthcare accessible and affordable for everyone, and we strive to simplify the online ordering process, ensuring a seamless experience for our valued customers.</p>
    <a>
      <button (click)="shopNow()"class="btn btn-danger btn-lg active button">Shop Now</button>
    </a>
  </div>
</div>

<h3 align="left" style="margin-left: 3rem; margin-top: 2rem;"> Why Choose Us? </h3>
<div class="container" style="margin-bottom: 40px; margin-top: 20px">

  <div class="items">
    <a href="#">
      <img src="https://drive.google.com/uc?export=view&id=1l7QjXVVg2nAMFvLHEVH8DNwHARTYDl0T" alt="Medicines" class="thumbnails" height="300px" width="345px" />
      <div class="caption">

        <caption>Generic Alternatives</caption>

      </div>
    </a>
  </div>



  <div class="items">
    <a href="#">
      <img src="https://drive.google.com/uc?export=view&id=1yzLQyEf4hrwtaEHhJwOa96Vq-0uoHiXX" alt="Medicines" class="thumbnails" height="300px" width="345px" />
      <div class="caption">
        <caption>Fast Delivery Services</caption>
      </div>
    </a>
  </div>

  <div class="items">
    <a href="#">
      <img src="https://drive.google.com/uc?export=view&id=126MAJ1QMIFCGjOIB1TUyNl_daLPc1_DV" alt="Medicines" class="thumbnails" height="300px" width="345px" />
      <div class="caption">

        <caption>Available All Over India </caption>

      </div>
    </a>
  </div>
</div>
<footer>
  <div class="container">
    Copyright
    <span class="glyphicon glyphicon-copyright-mark"></span>
    All Rights Reserved | Contact Us: +91 90000 00000
  </div>
</footer>

</body>
