body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightgreen;
  height: 100vh;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #c8e6c9;
  border-color: green;
}

.card-header {
  padding: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: darkgreen; /* Dark green background for the card headers */
  color: #fff;
}

.nested-list {
  margin-left: 20px;
  margin-bottom: 0; /* Remove the bottom margin */
}

.nested-list li {
  display: inline-block;
  margin-right: 20px;
  text-align: left;
}
