body {
  background-color: lightgreen;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Prevent scrollbars */
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  background-color: darkgreen;
  width: 350px;
  padding: 20px 10px;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgb(0, 102, 0);
  text-align: center;
  margin-bottom: 50px;
  overflow:hidden;
  position:relative;
}

.card input[type="text"],
.card input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
  color: white;
}
.icon{
  height:150px;
  width:320px;
}
.forgot-password a {
  color: white;
  text-decoration: none;
}

.login-link {
  color: white;
}

.login-link a {
  color: lightgreen;
  text-decoration: none;
}

.card button {
  background-color: lightgreen;
  color: darkgreen;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
