<body>
  <div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card">
    <img src="https://drive.google.com/uc?export=view&id=1Y7nzcClZgAg1x22PwOq1UFQiGSn2uyiO" alt="Logo" class="icon logo mb-4">
    <form>
       <input id="email" type="text" placeholder="Email" required>
       <input id="password" type="password" placeholder="Password" required>
      <div class="options">
        <div class="remember-me">
          <input type="checkbox" id="remember" name="remember">
          <label for="remember">Remember me</label>
        </div>
        <div class="forgot-password">
          <a href="#">Forgot password?</a>
        </div>
      </div>
      <button (click)="onLogin()">Log in</button>
      <div class="register-link">
        Don't have an account? <a href="#">Register</a>
      </div>
    </form>
  </div>
</div>
</body>
