<body>
  <h1>Contact Us</h1>

  <div class="card-container">
    <div class="card">
      <img src="assets/member1.jpg" alt="Team Member 1">
      <h3>Siddhanth Sinha</h3>
      <p>Email: siddhanthsinha1401@gmail.com</p>
    </div>

    <div class="card">
      <img src="assets/member3.jpg" alt="Team Member 3">
      <h3>Shweta Yadav</h3>
      <p>Email: shweta.yadav283@gmail.com</p>
    </div>

    <div class="card">
      <img src="assets/member2.jpg" alt="Team Member 2">
      <h3>Siddhesh N Mishra</h3>
      <p>Email: siddheshnarayanm@gmail.com</p>
    </div>


  </div>
</body>
